.container {
  height: 100%;
  margin: 1rem 0 0 14rem;

  .button {
    background: #3F51B5;
    color: #FFF;
    width: 9rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
  
    border: none;
    border-radius: 10px;

    transition: 400ms;
    
    &:hover {
      background: #364496;
      cursor: pointer;
    }
  }
}

.columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 50rem;
  margin: 1rem 0 0.5rem 1rem;
  padding: 0 3rem 0 3rem;
}

.rowContainer {
  display: flex;
  align-items: center;

  .row {
    background: #CCC;
    display: flex;
    align-items: center;
    width: 50rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    border-radius: 10px;
    padding: 0 0 0 3rem;
    

    h1 {
      font-size: 1.5rem;
      width: 15rem;
      margin-left: 18rem;
      margin-right: 5.5rem;
    }

  }

  .options {
    margin-left: 2rem;
    padding-bottom: 0.4rem;

    button {
      border: none;
      background: transparent;

      &:hover {
        cursor: pointer;
      }
    }

    .edit {
      margin-right: 1rem;

      transition: 300ms;
      &:hover {
        color: #c7c713;
      }
    }

    .delete {
      transition: 300ms;
      &:hover {
        color: red;
      }
    }
  }
}
